# Servidor
PORT=3000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://mongoserver:27017/taskflow

# Redis
REDIS_HOST=redisserver
REDIS_PORT=6379

# Caché
CACHE_TTL=60

# Socket.IO
CORS_ORIGIN=http://localhost:5173